<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Game Matcher</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Matches List</h1>
		</div>
        <table class = "table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>userName</th>
                    <th>userEmail</th>
                    <th>skill Level</th>
                    <th>game Preferences</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "MatcheUser: ${allMatches}">
                    <td th:text = "${MatcheUser.userName}"/>
                    <td th:text = "${MatcheUser.userEmail}"/>
                    <td th:text = "${MatcheUser.skillLevel}"/>
                    <td th:text = "${MatcheUser.gamePreferences}"/>
                </tr>
            </tbody>
        </table>
	</div>
</body>
</html>